@import url("common.css");

.main_content{
    width:100%;
    margin-top:150px;

    &::after{
        content: '';
        display:block;
        clear: both;
    }
    
    .main_left{
        float: left;
        position:relative;
        left:20%;
        figure{
     
            p{
                img{
                    width:300px;
                    position:relative;
                    z-index:99;
                }
            }
            
            figcaption{
                p{
                    color:#fff;
                    opacity: 0.9;
                    white-space:pre-line;
                    font-size:1.2em;
                }
            }
        }
    }
    .scroll-fixed{
        position:fixed;
        top:80px;
        z-index:99;
    }

    .main_right{
        width:55%;
        color:#fff;
        opacity: 0.9;
        white-space:pre-line;
        margin-top:-70px;
        float:right;

        ul{
            li:nth-child(1){
                h1{font-size:2.5em;}
                p{
                    font-size:1.3em;
                    
                }
                span{
                    width:75%;
                    border-bottom:1px solid #ddd;
                    display:inline-block;
                    margin-top:50px;
                }
            }
            li:nth-child(2),
            li:nth-child(3),
            li:nth-child(4),
            li:nth-child(5),
            li:nth-child(6){
                margin-left:50px;
                opacity: 0.9;
                h2{font-size:2em;}
                p{font-size:1.2em;}
                .p_tap{margin-left:7.15em;}
                span{
                    white-space:pre-line;
                    margin-left:2em;
                }
                dl{
                    dt{font-size:1.5em;}
                    dd{font-size:1.3em;}
                }
            }
        }
    }
    
}

@import "./mixin";

@include mobile {
    .main_content{
        .main_left{
            left:5%;
            figure{
                p{
                    img{
                        width:130px;
                    }
                }
                figcaption{
                    p{
                        font-size:0.5em;
                    }
                }
            }
        }
        .scroll-fixed{
            position:fixed;
            top:88px;
            z-index:99;
        }
        .main_right{
            width:55%;
            margin-top: -60px;
            ul{
                li{margin:-20px 0;}
                li:nth-child(1){
                    h1{font-size:1em;}
                    p{
                        font-size:0.6em;
                    }
                    span{
                        width:90%;
                        margin-top:20px;
                    }
                }
                li:nth-child(2),
                li:nth-child(3),
                li:nth-child(4),
                li:nth-child(5),
                li:nth-child(6){
                    margin-left:15px;
                    h2{font-size:1em;}
                    p{font-size:0.6em;}
                    .p_tap{
                        margin-left:0;
                    }
                    span{
                        white-space:pre-line;
                        margin-left:2em;
                    }
                    dl{
                        dt{font-size:0.9em;}
                        dd{font-size:0.6em; margin:0 25px;}
                    }
                }
            }
        }
    }

}

@include tablet {
    .main_content{
        .main_left{
            left:10%;
            figure{
                p{
                    img{
                        width:250px;
                    }
                }
                figcaption{
                    p{
                        font-size:0.9em;
                    }
                }
            }
        }
        .scroll-fixed{
            position:fixed;
            top:80px;
            z-index:99;
        }
        .main_right{
            width:55%;
            ul{
                li:nth-child(1){
                    h1{font-size:1.5em;}
                    p{
                        font-size:1em;
                    }
                    span{
                        width:85%;
                        margin-top:30px;
                    }
                }
                li:nth-child(2),
                li:nth-child(3),
                li:nth-child(4),
                li:nth-child(5),
                li:nth-child(6){
                    margin-left:30px;
                    h2{font-size:1.5em;}
                    p{font-size:0.9em;}
                    .p_tap{margin-left:7.15em;}
                    span{
                        white-space:pre-line;
                        margin-left:2em;
                    }
                    dl{
                        dt{font-size:1.3em;}
                        dd{font-size:0.9em;}
                    }
                }
            }
        }
    }
}

@include desktop {
    .main_content{
        .main_left{
            left:15%;
            figure{
                p{
                    img{
                        width:250px;
                    }
                }
                figcaption{
                    p{
                        font-size:1em;
                    }
                }
            }
        }
        .scroll-fixed{
            position:fixed;
            top:80px;
            z-index:99;
        }
        .main_right{
            width:55%;
            ul{
                li:nth-child(1){
                    h1{font-size:2em;}
                    p{
                        font-size:1.1em;
                    }
                    span{
                        margin-top:30px;
                    }
                }
                li:nth-child(2),
                li:nth-child(3),
                li:nth-child(4),
                li:nth-child(5),
                li:nth-child(6){
                    margin-left:40px;
                    h2{font-size:1.5em;}
                    p{font-size:1.1em;}
                    .p_tap{margin-left:7.15em;}
                    span{
                        white-space:pre-line;
                        margin-left:2em;
                    }
                    dl{
                        dt{font-size:1.3em; }
                        dd{font-size:1.1em;}
                    }
                }
            }
        }
    }
}