@import url("common.css");
.main_content {
  width: 100%;
  margin-top: 150px;
}

.main_content::after {
  content: '';
  display: block;
  clear: both;
}

.main_content .main_left {
  float: left;
  position: relative;
  left: 20%;
}

.main_content .main_left figure p img {
  width: 300px;
  position: relative;
  z-index: 99;
}

.main_content .main_left figure figcaption p {
  color: #fff;
  opacity: 0.9;
  white-space: pre-line;
  font-size: 1.2em;
}

.main_content .scroll-fixed {
  position: fixed;
  top: 80px;
  z-index: 99;
}

.main_content .main_right {
  width: 55%;
  color: #fff;
  opacity: 0.9;
  white-space: pre-line;
  margin-top: -70px;
  float: right;
}

.main_content .main_right ul li:nth-child(1) h1 {
  font-size: 2.5em;
}

.main_content .main_right ul li:nth-child(1) p {
  font-size: 1.3em;
}

.main_content .main_right ul li:nth-child(1) span {
  width: 75%;
  border-bottom: 1px solid #ddd;
  display: inline-block;
  margin-top: 50px;
}

.main_content .main_right ul li:nth-child(2),
.main_content .main_right ul li:nth-child(3),
.main_content .main_right ul li:nth-child(4),
.main_content .main_right ul li:nth-child(5) {
  margin-left: 50px;
  opacity: 0.9;
}

.main_content .main_right ul li:nth-child(2) h2,
.main_content .main_right ul li:nth-child(3) h2,
.main_content .main_right ul li:nth-child(4) h2,
.main_content .main_right ul li:nth-child(5) h2 {
  font-size: 2em;
}

.main_content .main_right ul li:nth-child(2) p,
.main_content .main_right ul li:nth-child(3) p,
.main_content .main_right ul li:nth-child(4) p,
.main_content .main_right ul li:nth-child(5) p {
  font-size: 1.2em;
}

.main_content .main_right ul li:nth-child(2) .p_tap,
.main_content .main_right ul li:nth-child(3) .p_tap,
.main_content .main_right ul li:nth-child(4) .p_tap,
.main_content .main_right ul li:nth-child(5) .p_tap {
  margin-left: 7.15em;
}

.main_content .main_right ul li:nth-child(2) span,
.main_content .main_right ul li:nth-child(3) span,
.main_content .main_right ul li:nth-child(4) span,
.main_content .main_right ul li:nth-child(5) span {
  white-space: pre-line;
  margin-left: 2em;
}

.main_content .main_right ul li:nth-child(6) > span {
  width: 75%;
  border-bottom: 1px solid #ddd;
  display: inline-block;
  margin-bottom: 50px;
}

.main_content .main_right ul li:nth-child(6) h2 {
  font-size: 2em;
}

.main_content .main_right ul li:nth-child(6) dl dt {
  font-size: 1.5em;
}

.main_content .main_right ul li:nth-child(6) dl dd {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_content .main_right ul li:nth-child(6) dl dd p {
  width: 30%;
  font-size: 1.4em;
}

.main_content .main_right ul li:nth-child(6) dl dd span {
  width: 70%;
  font-size: 1.1rem;
}

@media screen and (max-width: 480px) {
  .main_content .main_left {
    left: 5%;
  }
  .main_content .main_left figure p img {
    width: 130px;
  }
  .main_content .main_left figure figcaption p {
    font-size: 0.5em;
  }
  .main_content .scroll-fixed {
    position: fixed;
    top: 88px;
    z-index: 99;
  }
  .main_content .main_right {
    width: 55%;
    margin-top: -60px;
  }
  .main_content .main_right ul li {
    margin: -20px 0;
  }
  .main_content .main_right ul li:nth-child(1) h1 {
    font-size: 1em;
  }
  .main_content .main_right ul li:nth-child(1) p {
    font-size: 0.6em;
  }
  .main_content .main_right ul li:nth-child(1) span {
    width: 90%;
    margin-top: 20px;
  }
  .main_content .main_right ul li:nth-child(2),
  .main_content .main_right ul li:nth-child(3),
  .main_content .main_right ul li:nth-child(4),
  .main_content .main_right ul li:nth-child(5) {
    margin-left: 15px;
  }
  .main_content .main_right ul li:nth-child(2) h2,
  .main_content .main_right ul li:nth-child(3) h2,
  .main_content .main_right ul li:nth-child(4) h2,
  .main_content .main_right ul li:nth-child(5) h2 {
    font-size: 1em;
  }
  .main_content .main_right ul li:nth-child(2) p,
  .main_content .main_right ul li:nth-child(3) p,
  .main_content .main_right ul li:nth-child(4) p,
  .main_content .main_right ul li:nth-child(5) p {
    font-size: 0.6em;
  }
  .main_content .main_right ul li:nth-child(2) .p_tap,
  .main_content .main_right ul li:nth-child(3) .p_tap,
  .main_content .main_right ul li:nth-child(4) .p_tap,
  .main_content .main_right ul li:nth-child(5) .p_tap {
    margin-left: 0;
  }
  .main_content .main_right ul li:nth-child(2) span,
  .main_content .main_right ul li:nth-child(3) span,
  .main_content .main_right ul li:nth-child(4) span,
  .main_content .main_right ul li:nth-child(5) span {
    white-space: pre-line;
    margin-left: 2em;
  }
  .main_content .main_right ul li:nth-child(6) > span {
    width: 90%;
    margin-bottom: 20px;
  }
  .main_content .main_right ul li:nth-child(6) h2 {
    font-size: 1em;
  }
  .main_content .main_right ul li:nth-child(6) dl dt {
    font-size: 1em;
  }
  .main_content .main_right ul li:nth-child(6) dl dd {
    margin-left: 0;
  }
  .main_content .main_right ul li:nth-child(6) dl dd p {
    width: 30%;
    font-size: 0.7em;
  }
  .main_content .main_right ul li:nth-child(6) dl dd span {
    width: 70%;
    font-size: 0.6rem;
  }
}

@media screen and (min-width: 480px) and (max-width: 1024px) {
  .main_content .main_left {
    left: 10%;
  }
  .main_content .main_left figure p img {
    width: 250px;
  }
  .main_content .main_left figure figcaption p {
    font-size: 0.9em;
  }
  .main_content .scroll-fixed {
    position: fixed;
    top: 80px;
    z-index: 99;
  }
  .main_content .main_right {
    width: 55%;
  }
  .main_content .main_right ul li:nth-child(1) h1 {
    font-size: 1.5em;
  }
  .main_content .main_right ul li:nth-child(1) p {
    font-size: 1em;
  }
  .main_content .main_right ul li:nth-child(1) span {
    width: 85%;
    margin-top: 30px;
  }
  .main_content .main_right ul li:nth-child(2),
  .main_content .main_right ul li:nth-child(3),
  .main_content .main_right ul li:nth-child(4),
  .main_content .main_right ul li:nth-child(5) {
    margin-left: 30px;
  }
  .main_content .main_right ul li:nth-child(2) h2,
  .main_content .main_right ul li:nth-child(3) h2,
  .main_content .main_right ul li:nth-child(4) h2,
  .main_content .main_right ul li:nth-child(5) h2 {
    font-size: 1.5em;
  }
  .main_content .main_right ul li:nth-child(2) p,
  .main_content .main_right ul li:nth-child(3) p,
  .main_content .main_right ul li:nth-child(4) p,
  .main_content .main_right ul li:nth-child(5) p {
    font-size: 0.9em;
  }
  .main_content .main_right ul li:nth-child(2) .p_tap,
  .main_content .main_right ul li:nth-child(3) .p_tap,
  .main_content .main_right ul li:nth-child(4) .p_tap,
  .main_content .main_right ul li:nth-child(5) .p_tap {
    margin-left: 7.15em;
  }
  .main_content .main_right ul li:nth-child(2) span,
  .main_content .main_right ul li:nth-child(3) span,
  .main_content .main_right ul li:nth-child(4) span,
  .main_content .main_right ul li:nth-child(5) span {
    white-space: pre-line;
    margin-left: 2em;
  }
  .main_content .main_right ul li:nth-child(6) > span {
    width: 85%;
    margin-bottom: 30px;
  }
  .main_content .main_right ul li:nth-child(6) h2 {
    font-size: 1.7em;
  }
  .main_content .main_right ul li:nth-child(6) dl dt {
    font-size: 1.1em;
  }
  .main_content .main_right ul li:nth-child(6) dl dd {
    margin-left: 20px;
  }
  .main_content .main_right ul li:nth-child(6) dl dd p {
    width: 30%;
    font-size: 1em;
  }
  .main_content .main_right ul li:nth-child(6) dl dd span {
    width: 70%;
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .main_content .main_left {
    left: 15%;
  }
  .main_content .main_left figure p img {
    width: 250px;
  }
  .main_content .main_left figure figcaption p {
    font-size: 1em;
  }
  .main_content .scroll-fixed {
    position: fixed;
    top: 80px;
    z-index: 99;
  }
  .main_content .main_right {
    width: 55%;
  }
  .main_content .main_right ul li:nth-child(1) h1 {
    font-size: 2em;
  }
  .main_content .main_right ul li:nth-child(1) p {
    font-size: 1.1em;
  }
  .main_content .main_right ul li:nth-child(1) span {
    margin-top: 30px;
  }
  .main_content .main_right ul li:nth-child(2),
  .main_content .main_right ul li:nth-child(3),
  .main_content .main_right ul li:nth-child(4),
  .main_content .main_right ul li:nth-child(5) {
    margin-left: 40px;
  }
  .main_content .main_right ul li:nth-child(2) h2,
  .main_content .main_right ul li:nth-child(3) h2,
  .main_content .main_right ul li:nth-child(4) h2,
  .main_content .main_right ul li:nth-child(5) h2 {
    font-size: 1.5em;
  }
  .main_content .main_right ul li:nth-child(2) p,
  .main_content .main_right ul li:nth-child(3) p,
  .main_content .main_right ul li:nth-child(4) p,
  .main_content .main_right ul li:nth-child(5) p {
    font-size: 1.1em;
  }
  .main_content .main_right ul li:nth-child(2) .p_tap,
  .main_content .main_right ul li:nth-child(3) .p_tap,
  .main_content .main_right ul li:nth-child(4) .p_tap,
  .main_content .main_right ul li:nth-child(5) .p_tap {
    margin-left: 7.15em;
  }
  .main_content .main_right ul li:nth-child(2) span,
  .main_content .main_right ul li:nth-child(3) span,
  .main_content .main_right ul li:nth-child(4) span,
  .main_content .main_right ul li:nth-child(5) span {
    white-space: pre-line;
    margin-left: 2em;
  }
  .main_content .main_right ul li:nth-child(6) > span {
    margin-bottom: 30px;
  }
  .main_content .main_right ul li:nth-child(6) h2 {
    font-size: 2em;
  }
  .main_content .main_right ul li:nth-child(6) dl dt {
    font-size: 1.5em;
  }
  .main_content .main_right ul li:nth-child(6) dl dd {
    margin-left: 30px;
  }
  .main_content .main_right ul li:nth-child(6) dl dd p {
    width: 25%;
    font-size: 1.2em;
  }
  .main_content .main_right ul li:nth-child(6) dl dd span {
    width: 70%;
    font-size: 1rem;
  }
}
/*# sourceMappingURL=about.css.map */