@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap");
/* font-family: 'Noto Sans KR', sans-serif; */
@font-face {
  font-family: 'roboto';
  src: url("../assets/fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: 'gotham';
  src: url("../assets/fonts/Gotham/Gotham-Bold.otf");
}

html, body {
  margin: 0;
  background: #2f2f2f;
}

p, figure, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'roboto', 'Noto Sans KR', sans-serif;
}

img {
  width: 100%;
  vertical-align: top;
}

a {
  text-decoration: none;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 199;
}

.header .inner_header {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .inner_header a h1 {
  margin-left: 80px;
  color: #d9b372;
}

.header .inner_header #burger-menu {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.header .inner_header #menu a:hover {
  color: #d9b372;
  -webkit-transition: .3s;
  transition: .3s;
}

canvas {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 100%;
}

#dotty {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 90%;
  height: 80%;
  margin: auto;
  z-index: 1;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  color: #d9b372;
}

.footer div {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer div .tel {
  font-size: 0.8em;
}

.footer div .copyright {
  height: 90px;
  white-space: pre-line;
  font-size: 0.8em;
}

#burger-menu {
  cursor: pointer;
  height: 27px;
  width: 27px;
  margin: 50px 80px;
  overflow: visible;
  position: relative;
  z-index: 2;
}

#burger-menu span,
#burger-menu span:before,
#burger-menu span:after {
  background: #d9b372;
  display: block;
  height: 4px;
  opacity: 1;
  position: absolute;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

#burger-menu span:before,
#burger-menu span:after {
  content: "";
}

#burger-menu span {
  right: 0px;
  top: 13px;
  width: 27px;
}

#burger-menu span:before {
  left: 0px;
  top: -10px;
  width: 16px;
}

#burger-menu span:after {
  left: 0px;
  top: 10px;
  width: 20px;
}

#burger-menu.close span {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 13px;
  width: 27px;
}

#burger-menu.close span:before {
  top: 0px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  width: 27px;
}

#burger-menu.close span:after {
  top: 0px;
  left: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  opacity: 0;
  width: 0;
}

#menu {
  z-index: 1;
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
  height: 0;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  padding-top: 20px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#menu.overlay {
  visibility: visible;
  opacity: 1;
  padding-top: 100px;
  background: rgba(0, 0, 0, 0.8);
}

#menu li {
  list-style: none;
}

#menu a {
  color: #fff;
  display: block;
  font-size: 32px;
  margin-bottom: 30px;
  text-decoration: none;
}

@media screen and (max-width: 480px) {
  .header .inner_header a h1 {
    margin-left: 20px;
    font-size: 1.5em;
  }
  .header .inner_header #burger-menu {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  .header .inner_header #menu a:hover {
    color: #d9b372;
    -webkit-transition: .3s;
    transition: .3s;
  }
  #burger-menu {
    margin: 50px 20px;
  }
  canvas {
    display: none;
  }
  .footer div {
    margin-bottom: 20px;
  }
  .footer div .tel {
    font-size: 0.7em;
  }
  .footer div .copyright {
    height: 55px;
    white-space: pre-line;
    font-size: 0.7em;
  }
}

@media screen and (min-width: 480px) and (max-width: 1024px) {
  .header .inner_header a h1 {
    margin-left: 50px;
  }
  #burger-menu {
    margin: 50px 50px;
  }
  canvas {
    display: none;
  }
  .footer div {
    margin-bottom: 20px;
  }
  .footer div .tel {
    font-size: 0.8em;
  }
  .footer div .copyright {
    height: 70px;
    white-space: pre-line;
    font-size: 0.8em;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .header .inner_header a h1 {
    margin-left: 100px;
  }
  #burger-menu {
    margin: 50px 100px;
  }
  canvas {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 100%;
  }
  #dotty {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 90%;
    height: 80%;
    margin: auto;
    z-index: 1;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
  .footer div {
    margin-bottom: 20px;
  }
  .footer div .tel {
    font-size: 0.8em;
  }
  .footer div .copyright {
    height: 70px;
    white-space: pre-line;
    font-size: 0.8em;
  }
}
/*# sourceMappingURL=common.css.map */