@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');
/* font-family: 'Noto Sans KR', sans-serif; */

@font-face{
    font-family: 'roboto';
    src:url('../assets/fonts/Roboto/Roboto-Regular.ttf');
}

@font-face{
    font-family: 'gotham';
    src:url('../assets/fonts/Gotham/Gotham-Bold.otf');
}


html, body{margin:0; background:#2f2f2f;}
p,figure,h1,h2,h3,h4,h5,h6{margin:0;}
ul,li{list-style: none; margin:0; padding:0;}

*{
    box-sizing: border-box;
    font-family: 'roboto', 'Noto Sans KR', sans-serif;
}
img{width:100%; vertical-align: top;}
a{
    text-decoration: none;
}

.header{
    width:100%;
    position:fixed;
    top:0;
    z-index:999;

    .inner_header{
        width:100%;
        margin:0 auto;
        display:flex;
        justify-content: space-between;
        align-items: center;

        a{
            h1{
                margin-left:80px;
                color:#d9b372;
            }
        }
        #burger-menu{
            transform:scale(0.8);
        }
        #menu a:hover{
            color:#d9b372;
            transition: .3s;
        }    
    }

}

// body canvas,
// body #dotty {
//     display: none
// }

canvas {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 100%;
}


#dotty {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 90%;
    height: 80%;
    margin: auto;
    z-index: 1;
    transform: translateZ(0);
}

.footer{
    width:100%;
    position:fixed;
    bottom:0;
    color:#d9b372;
    
    div{
        width:90%;
        margin:0 auto;
        display:flex;
        justify-content: space-between;
        align-items: center;
        
        .tel{font-size:0.8em;}
        .copyright{
            height:90px;
            white-space:pre-line;
            font-size:0.8em;
        }
    }
}

// 버거메뉴
#burger-menu {
    cursor: pointer;
    height: 27px;
    width: 27px;
    margin: 50px 80px;
    overflow: visible;
    position: relative;
    z-index:2;
}
#burger-menu span,
#burger-menu span:before,
#burger-menu span:after {
    // background: #fff;
    background:#d9b372;
    display: block;
    height: 4px;
    opacity: 1;
    position: absolute;
    transition: 0.3s ease-in-out;
}
#burger-menu span:before,
#burger-menu span:after {
    content: "";
}
#burger-menu span {
    right: 0px;
    top: 13px;
    width: 27px;
}
#burger-menu span:before {
    left: 0px;
    top: -10px;
    width: 16px;
}
#burger-menu span:after {
    left: 0px;
    top: 10px;
    width: 20px;
}
#burger-menu.close span {
    transform: rotate(-45deg);
    top: 13px;
    width: 27px;
}
#burger-menu.close span:before {
    top: 0px;
    transform: rotate(90deg);
    width: 27px;
}
#burger-menu.close span:after {
    top: 0px;
    left:0;
    transform: rotate(90deg);
    opacity:0;
    width:0;
}
#menu{
    z-index:1;
    min-width:100%;
    min-height:100%;
    position: fixed;
    top:0;
    height:0;
    visibility: hidden;
    opacity: 0;
    text-align:center;
    padding-top:20px;
    transition: all 0.3s ease-in-out;

}
#menu.overlay{
    visibility: visible;
    opacity: 1;
    padding-top:100px;
    background:rgba(0,0,0,0.8);

}
#menu li{
    list-style:none;
}
#menu a{
    color:#fff;
    display:block;
    font-size: 32px;
    margin-bottom:30px;
    text-decoration:none;
}