@import url("common.css");
main {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}

.main_contents {
  width: 100%;
}

.main_contents .about_thum {
  width: 100%;
  margin: 150px 0;
}

.main_contents .about_thum figure {
  width: 20vw;
  position: relative;
  margin: 0 auto;
  background: #fff;
  padding: 40px;
  z-index: 99;
  -webkit-transition: .5s;
  transition: .5s;
}

.main_contents .about_thum figure a img {
  width: 100%;
  height: 60vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.main_contents .about_thum figure:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  opacity: 0.8;
}

.main_contents .about_thum figure figcaption {
  width: 50vw;
  position: absolute;
  left: 50%;
  top: 55%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.main_contents .about_thum figure figcaption p {
  font-family: 'gotham';
  text-shadow: 2px 2px 2px black;
  -webkit-transition: .5s;
  transition: .5s;
}

.main_contents .about_thum figure figcaption p:nth-child(1) {
  color: #fff;
  font-size: 5.5em;
  letter-spacing: -6px;
}

.main_contents .about_thum figure figcaption p:nth-child(2) {
  color: #d9b372;
  font-size: 4.5em;
  letter-spacing: -5px;
}

.main_contents .about_thum figure:hover figcaption p {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.main_contents .project1_thum {
  width: 100%;
  margin: 200px 0;
}

.main_contents .project1_thum figure {
  width: 20vw;
  position: relative;
  margin: 0 auto;
  background: #fff;
  padding: 40px;
  z-index: 99;
  -webkit-transition: .5s;
  transition: .5s;
}

.main_contents .project1_thum figure .num {
  color: #d9b372;
  position: absolute;
  left: -40px;
  top: -30px;
}

.main_contents .project1_thum figure img {
  width: 100%;
}

.main_contents .project1_thum figure:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  opacity: 0.8;
}

.main_contents .project1_thum figure:hover .main_title {
  -webkit-transform: translate(-45%, -50%);
          transform: translate(-45%, -50%);
}

.main_contents .project1_thum figure:hover .sub_title {
  -webkit-transform: translateX(-10%);
          transform: translateX(-10%);
}

.main_contents .project1_thum figure figcaption .main_title {
  position: absolute;
  left: -40%;
  top: 35%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: .5s;
  transition: .5s;
}

.main_contents .project1_thum figure figcaption .main_title p {
  font-family: 'gotham';
  text-shadow: 2px 2px 2px black;
  line-height: 0.8;
  text-align: left;
}

.main_contents .project1_thum figure figcaption .main_title p:nth-child(1) {
  color: #fff;
  font-size: 9em;
  letter-spacing: -6px;
}

.main_contents .project1_thum figure figcaption .main_title p:nth-child(2) {
  color: #fff;
  font-size: 9em;
  letter-spacing: -5px;
  -webkit-transform: translateX(-5%);
          transform: translateX(-5%);
}

.main_contents .project1_thum figure figcaption .sub_title {
  position: absolute;
  right: -55%;
  top: 80%;
  -webkit-transition: .5s;
  transition: .5s;
}

.main_contents .project1_thum figure figcaption .sub_title p {
  font-size: 1.5em;
  text-align: left;
  color: #fff;
  text-shadow: 1px 1px 2px black;
}

.main_contents .project2_thum {
  width: 100%;
  margin: 200px 0;
}

.main_contents .project2_thum figure {
  width: 20vw;
  position: relative;
  margin: 0 auto;
  background: #fff;
  z-index: 99;
  padding: 40px;
  -webkit-transition: .5s;
  transition: .5s;
}

.main_contents .project2_thum figure .num {
  color: #d9b372;
  position: absolute;
  left: -40px;
  top: -30px;
}

.main_contents .project2_thum figure img {
  width: 100%;
}

.main_contents .project2_thum figure:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  opacity: 0.8;
}

.main_contents .project2_thum figure:hover .main_title {
  -webkit-transform: translate(45%, -50%);
          transform: translate(45%, -50%);
}

.main_contents .project2_thum figure:hover .sub_title {
  -webkit-transform: translateX(10%);
          transform: translateX(10%);
}

.main_contents .project2_thum figure figcaption .main_title {
  position: absolute;
  right: -30%;
  top: 35%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  -webkit-transition: .5s;
  transition: .5s;
}

.main_contents .project2_thum figure figcaption .main_title p {
  font-family: 'gotham';
  text-shadow: 2px 2px 2px black;
  line-height: 0.8;
  text-align: right;
}

.main_contents .project2_thum figure figcaption .main_title p:nth-child(1) {
  color: #fff;
  font-size: 9em;
  letter-spacing: -6px;
}

.main_contents .project2_thum figure figcaption .main_title p:nth-child(2) {
  color: #fff;
  font-size: 9em;
  letter-spacing: -5px;
  -webkit-transform: translateX(5%);
          transform: translateX(5%);
}

.main_contents .project2_thum figure figcaption .sub_title {
  position: absolute;
  left: -47%;
  top: 80%;
  -webkit-transition: .5s;
  transition: .5s;
}

.main_contents .project2_thum figure figcaption .sub_title p {
  font-size: 1.5em;
  text-align: left;
  color: #fff;
  text-shadow: 1px 1px 2px black;
}

.main_contents .project3_thum {
  width: 100%;
  margin: 200px 0;
}

.main_contents .project3_thum figure {
  width: 20vw;
  position: relative;
  margin: 0 auto;
  background: #fff;
  padding: 40px;
  z-index: 99;
  -webkit-transition: .5s;
  transition: .5s;
}

.main_contents .project3_thum figure .num {
  color: #d9b372;
  position: absolute;
  left: -40px;
  top: -30px;
}

.main_contents .project3_thum figure img {
  width: 100%;
}

.main_contents .project3_thum figure:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  opacity: 0.8;
}

.main_contents .project3_thum figure:hover .main_title {
  -webkit-transform: translate(-45%, -50%);
          transform: translate(-45%, -50%);
}

.main_contents .project3_thum figure:hover .sub_title {
  -webkit-transform: translateX(-10%);
          transform: translateX(-10%);
}

.main_contents .project3_thum figure figcaption .main_title {
  position: absolute;
  left: -40%;
  top: 35%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: .5s;
  transition: .5s;
}

.main_contents .project3_thum figure figcaption .main_title p {
  font-family: 'gotham';
  text-shadow: 2px 2px 2px black;
  line-height: 0.8;
  text-align: left;
}

.main_contents .project3_thum figure figcaption .main_title p:nth-child(1) {
  color: #fff;
  font-size: 8em;
  letter-spacing: -6px;
}

.main_contents .project3_thum figure figcaption .main_title p:nth-child(2) {
  color: #fff;
  font-size: 8em;
  letter-spacing: -5px;
  -webkit-transform: translateX(5%);
          transform: translateX(5%);
}

.main_contents .project3_thum figure figcaption .sub_title {
  position: absolute;
  right: -70%;
  top: 80%;
  -webkit-transition: .5s;
  transition: .5s;
}

.main_contents .project3_thum figure figcaption .sub_title p {
  font-size: 1.5em;
  text-align: left;
  color: #fff;
  text-shadow: 2px 2px 2px black;
}

.main_contents .contact {
  width: 100%;
}

.main_contents .contact .iframe {
  width: 100%;
  margin: 0 auto;
  background: transparent;
  margin-bottom: 200px;
  position: relative;
  z-index: 99;
}

.main_contents .top_btn {
  width: 100%;
}

.main_contents .top_btn p {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  border: solid 2px #505050;
  border-radius: 100%;
  text-align: center;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  position: relative;
  bottom: 100px;
  z-index: 99;
  cursor: pointer;
}

.main_contents .top_btn p img {
  width: 15px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.main_contents .top_btn p:hover {
  border: 2px solid #ececec;
}

@media screen and (max-width: 480px) {
  .main_contents .about_thum figure {
    width: 40vw;
    padding: 20px;
  }
  .main_contents .about_thum figure a img {
    height: 30vh;
  }
  .main_contents .about_thum figure:hover {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    opacity: 0.8;
  }
  .main_contents .about_thum figure figcaption {
    width: 80vw;
  }
  .main_contents .about_thum figure figcaption p:nth-child(1) {
    font-size: 2.5em;
    letter-spacing: -2px;
  }
  .main_contents .about_thum figure figcaption p:nth-child(2) {
    font-size: 1.5em;
    letter-spacing: -2px;
  }
  .main_contents .about_thum figure:hover figcaption p {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .main_contents .project1_thum figure {
    width: 40vw;
    padding: 20px;
  }
  .main_contents .project1_thum figure img {
    width: 100%;
  }
  .main_contents .project1_thum figure:hover {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    opacity: 0.8;
  }
  .main_contents .project1_thum figure:hover .main_title {
    -webkit-transform: translate(-45%, -50%);
            transform: translate(-45%, -50%);
  }
  .main_contents .project1_thum figure:hover .sub_title {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
  }
  .main_contents .project1_thum figure figcaption .main_title {
    position: absolute;
    left: -10%;
    top: 35%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .main_contents .project1_thum figure figcaption .main_title p:nth-child(1) {
    font-size: 3em;
  }
  .main_contents .project1_thum figure figcaption .main_title p:nth-child(2) {
    font-size: 3em;
    -webkit-transform: translateX(-5%);
            transform: translateX(-5%);
  }
  .main_contents .project1_thum figure figcaption .sub_title {
    position: absolute;
    right: -30%;
    top: 80%;
  }
  .main_contents .project1_thum figure figcaption .sub_title p {
    font-size: 0.8em;
  }
  .main_contents .project2_thum {
    width: 100%;
    margin: 200px 0;
  }
  .main_contents .project2_thum figure {
    width: 40vw;
    padding: 20px;
  }
  .main_contents .project2_thum figure img {
    width: 100%;
  }
  .main_contents .project2_thum figure:hover {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    opacity: 0.8;
  }
  .main_contents .project2_thum figure:hover .main_title {
    -webkit-transform: translate(45%, -50%);
            transform: translate(45%, -50%);
  }
  .main_contents .project2_thum figure:hover .sub_title {
    -webkit-transform: translateX(10%);
            transform: translateX(10%);
  }
  .main_contents .project2_thum figure figcaption .main_title {
    position: absolute;
    right: -15%;
    top: 35%;
    -webkit-transform: translate(50%, -50%);
            transform: translate(50%, -50%);
  }
  .main_contents .project2_thum figure figcaption .main_title p:nth-child(1) {
    font-size: 3em;
  }
  .main_contents .project2_thum figure figcaption .main_title p:nth-child(2) {
    font-size: 3em;
  }
  .main_contents .project2_thum figure figcaption .sub_title {
    position: absolute;
    left: -30%;
    top: 80%;
  }
  .main_contents .project2_thum figure figcaption .sub_title p {
    font-size: 0.8em;
  }
  .main_contents .project3_thum {
    width: 100%;
    margin: 200px 0;
  }
  .main_contents .project3_thum figure {
    width: 40vw;
    padding: 20px;
  }
  .main_contents .project3_thum figure img {
    width: 100%;
  }
  .main_contents .project3_thum figure:hover {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    opacity: 0.8;
  }
  .main_contents .project3_thum figure:hover .main_title {
    -webkit-transform: translate(-45%, -50%);
            transform: translate(-45%, -50%);
  }
  .main_contents .project3_thum figure:hover .sub_title {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
  }
  .main_contents .project3_thum figure figcaption .main_title {
    position: absolute;
    left: -15%;
    top: 35%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-transition: .5s;
    transition: .5s;
  }
  .main_contents .project3_thum figure figcaption .main_title p {
    font-family: 'gotham';
    text-shadow: 2px 2px 2px black;
    line-height: 0.8;
    text-align: left;
  }
  .main_contents .project3_thum figure figcaption .main_title p:nth-child(1) {
    font-size: 3em;
    letter-spacing: -6px;
  }
  .main_contents .project3_thum figure figcaption .main_title p:nth-child(2) {
    font-size: 3em;
    letter-spacing: -5px;
    -webkit-transform: translateX(5%);
            transform: translateX(5%);
  }
  .main_contents .project3_thum figure figcaption .sub_title {
    position: absolute;
    right: -50%;
    top: 80%;
    -webkit-transition: .5s;
    transition: .5s;
  }
  .main_contents .project3_thum figure figcaption .sub_title p {
    font-size: 0.8em;
  }
  .main_contents .contact {
    width: 90%;
    display: block;
  }
  .main_contents .contact form {
    width: 80%;
    margin: 0 auto;
  }
  .main_contents .contact form h2 {
    font-size: 1.5em;
    margin-bottom: 15px;
  }
  .main_contents .contact form input {
    margin: 5px 0;
    padding: 10px 0;
  }
  .main_contents .contact form input[type=submit] {
    border-bottom: none;
    cursor: pointer;
    font-size: 1em;
  }
  .main_contents .contact form textarea {
    margin-top: 20px;
    padding: 0px;
  }
  .main_contents .contact .contact_text {
    margin: 50px 0 0 30px;
  }
  .main_contents .contact .contact_text p:nth-child(1) {
    font-size: 5em;
  }
  .main_contents .contact .contact_text p:nth-child(2) {
    font-size: 5em;
  }
  .main_contents .contact .contact_text p:nth-child(3) {
    margin-top: 50px;
    font-size: 0.7em;
  }
}

@media screen and (min-width: 480px) and (max-width: 1024px) {
  .main_contents .about_thum {
    margin: 150px 0;
  }
  .main_contents .about_thum figure {
    width: 30vw;
    padding: 30px;
  }
  .main_contents .about_thum figure a img {
    width: 100%;
    height: 50vh;
  }
  .main_contents .about_thum figure:hover {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    opacity: 0.8;
  }
  .main_contents .about_thum figure figcaption {
    width: 50vw;
  }
  .main_contents .about_thum figure figcaption p:nth-child(1) {
    font-size: 3.5em;
  }
  .main_contents .about_thum figure figcaption p:nth-child(2) {
    font-size: 3em;
  }
  .main_contents .about_thum figure:hover figcaption p {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .main_contents .project1_thum {
    width: 100%;
    margin: 200px 0;
  }
  .main_contents .project1_thum figure {
    width: 30vw;
    padding: 30px;
  }
  .main_contents .project1_thum figure img {
    width: 100%;
  }
  .main_contents .project1_thum figure:hover {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    opacity: 0.8;
  }
  .main_contents .project1_thum figure:hover .main_title {
    -webkit-transform: translate(-45%, -50%);
            transform: translate(-45%, -50%);
  }
  .main_contents .project1_thum figure:hover .sub_title {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
  }
  .main_contents .project1_thum figure figcaption .main_title {
    position: absolute;
    left: -30%;
    top: 35%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .main_contents .project1_thum figure figcaption .main_title p:nth-child(1) {
    font-size: 6em;
  }
  .main_contents .project1_thum figure figcaption .main_title p:nth-child(2) {
    font-size: 6em;
    -webkit-transform: translateX(-5%);
            transform: translateX(-5%);
  }
  .main_contents .project1_thum figure figcaption .sub_title {
    position: absolute;
    right: -55%;
    top: 80%;
    -webkit-transition: .5s;
    transition: .5s;
  }
  .main_contents .project1_thum figure figcaption .sub_title p {
    font-size: 1.1em;
    text-align: left;
    color: #fff;
    text-shadow: 1px 1px 2px black;
  }
  .main_contents .project2_thum {
    width: 100%;
    margin: 200px 0;
  }
  .main_contents .project2_thum figure {
    width: 30vw;
    padding: 30px;
  }
  .main_contents .project2_thum figure img {
    width: 100%;
  }
  .main_contents .project2_thum figure:hover {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    opacity: 0.8;
  }
  .main_contents .project2_thum figure:hover .main_title {
    -webkit-transform: translate(45%, -50%);
            transform: translate(45%, -50%);
  }
  .main_contents .project2_thum figure:hover .sub_title {
    -webkit-transform: translateX(10%);
            transform: translateX(10%);
  }
  .main_contents .project2_thum figure figcaption .main_title {
    position: absolute;
    right: -30%;
    top: 35%;
    -webkit-transform: translate(50%, -50%);
            transform: translate(50%, -50%);
    -webkit-transition: .5s;
    transition: .5s;
  }
  .main_contents .project2_thum figure figcaption .main_title p {
    font-family: 'gotham';
    text-shadow: 2px 2px 2px black;
    line-height: 0.8;
    text-align: right;
  }
  .main_contents .project2_thum figure figcaption .main_title p:nth-child(1) {
    font-size: 6em;
  }
  .main_contents .project2_thum figure figcaption .main_title p:nth-child(2) {
    font-size: 6em;
    -webkit-transform: translateX(5%);
            transform: translateX(5%);
  }
  .main_contents .project2_thum figure figcaption .sub_title {
    position: absolute;
    left: -50%;
    top: 80%;
  }
  .main_contents .project2_thum figure figcaption .sub_title p {
    font-size: 1.1em;
  }
  .main_contents .project3_thum {
    width: 100%;
    margin: 200px 0;
  }
  .main_contents .project3_thum figure {
    width: 30vw;
    padding: 30px;
  }
  .main_contents .project3_thum figure img {
    width: 100%;
  }
  .main_contents .project3_thum figure:hover {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    opacity: 0.8;
  }
  .main_contents .project3_thum figure:hover .main_title {
    -webkit-transform: translate(-45%, -50%);
            transform: translate(-45%, -50%);
  }
  .main_contents .project3_thum figure:hover .sub_title {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
  }
  .main_contents .project3_thum figure figcaption .main_title {
    position: absolute;
    left: -40%;
    top: 35%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-transition: .5s;
    transition: .5s;
  }
  .main_contents .project3_thum figure figcaption .main_title p {
    font-family: 'gotham';
    text-shadow: 2px 2px 2px black;
    line-height: 0.8;
    text-align: left;
  }
  .main_contents .project3_thum figure figcaption .main_title p:nth-child(1) {
    color: #fff;
    font-size: 5em;
    letter-spacing: -6px;
  }
  .main_contents .project3_thum figure figcaption .main_title p:nth-child(2) {
    color: #fff;
    font-size: 5em;
    letter-spacing: -5px;
    -webkit-transform: translateX(5%);
            transform: translateX(5%);
  }
  .main_contents .project3_thum figure figcaption .sub_title {
    position: absolute;
    right: -70%;
    top: 80%;
    -webkit-transition: .5s;
    transition: .5s;
  }
  .main_contents .project3_thum figure figcaption .sub_title p {
    font-size: 1.1em;
  }
  .main_contents .contact {
    width: 80%;
  }
  .main_contents .contact form {
    width: 40%;
  }
  .main_contents .contact form h2 {
    font-size: 2em;
    margin-bottom: 15px;
  }
  .main_contents .contact form input {
    margin: 10px 0;
    padding: 10px 0;
  }
  .main_contents .contact form input[type=submit] {
    border-bottom: none;
    cursor: pointer;
    font-size: 1.3em;
  }
  .main_contents .contact form textarea {
    margin-top: 30px;
    padding: 0px;
  }
  .main_contents .contact .contact_text p:nth-child(1) {
    font-size: 8.5em;
  }
  .main_contents .contact .contact_text p:nth-child(2) {
    font-size: 8.5em;
  }
  .main_contents .contact .contact_text p:nth-child(3) {
    margin-top: 70px;
    font-size: 0.8em;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .main_contents .about_thum {
    margin: 100px 0;
  }
  .main_contents .about_thum figure {
    width: 25vw;
    padding: 40px;
  }
  .main_contents .about_thum figure a img {
    width: 100%;
    height: 45vh;
  }
  .main_contents .about_thum figure:hover {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    opacity: 0.8;
  }
  .main_contents .about_thum figure figcaption {
    width: 50vw;
    position: absolute;
    left: 50%;
    top: 55%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-align: center;
  }
  .main_contents .about_thum figure figcaption p:nth-child(1) {
    font-size: 4em;
  }
  .main_contents .about_thum figure figcaption p:nth-child(2) {
    font-size: 3.5em;
  }
  .main_contents .about_thum figure:hover figcaption p {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .main_contents .project1_thum {
    width: 100%;
    margin: 200px 0;
  }
  .main_contents .project1_thum figure {
    width: 25vw;
    padding: 40px;
  }
  .main_contents .project1_thum figure img {
    width: 100%;
  }
  .main_contents .project1_thum figure:hover {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    opacity: 0.8;
  }
  .main_contents .project1_thum figure:hover .main_title {
    -webkit-transform: translate(-45%, -50%);
            transform: translate(-45%, -50%);
  }
  .main_contents .project1_thum figure:hover .sub_title {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
  }
  .main_contents .project1_thum figure figcaption .main_title {
    position: absolute;
    left: -40%;
    top: 35%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .main_contents .project1_thum figure figcaption .main_title p:nth-child(1) {
    font-size: 7em;
    letter-spacing: -6px;
  }
  .main_contents .project1_thum figure figcaption .main_title p:nth-child(2) {
    font-size: 7em;
    letter-spacing: -5px;
    -webkit-transform: translateX(-5%);
            transform: translateX(-5%);
  }
  .main_contents .project1_thum figure figcaption .sub_title {
    position: absolute;
    right: -60%;
    top: 80%;
    -webkit-transition: .5s;
    transition: .5s;
  }
  .main_contents .project1_thum figure figcaption .sub_title p {
    font-size: 1.2em;
    text-align: left;
    color: #fff;
    text-shadow: 1px 1px 2px black;
  }
  .main_contents .project2_thum {
    width: 100%;
    margin: 200px 0;
  }
  .main_contents .project2_thum figure {
    width: 25vw;
    padding: 40px;
  }
  .main_contents .project2_thum figure img {
    width: 100%;
  }
  .main_contents .project2_thum figure:hover {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    opacity: 0.8;
  }
  .main_contents .project2_thum figure:hover .main_title {
    -webkit-transform: translate(45%, -50%);
            transform: translate(45%, -50%);
  }
  .main_contents .project2_thum figure:hover .sub_title {
    -webkit-transform: translateX(10%);
            transform: translateX(10%);
  }
  .main_contents .project2_thum figure figcaption .main_title {
    position: absolute;
    right: -30%;
    top: 35%;
    -webkit-transform: translate(50%, -50%);
            transform: translate(50%, -50%);
    -webkit-transition: .5s;
    transition: .5s;
  }
  .main_contents .project2_thum figure figcaption .main_title p {
    font-family: 'gotham';
    text-shadow: 2px 2px 2px black;
    line-height: 0.8;
    text-align: right;
  }
  .main_contents .project2_thum figure figcaption .main_title p:nth-child(1) {
    font-size: 7em;
  }
  .main_contents .project2_thum figure figcaption .main_title p:nth-child(2) {
    font-size: 7em;
    -webkit-transform: translateX(5%);
            transform: translateX(5%);
  }
  .main_contents .project2_thum figure figcaption .sub_title {
    position: absolute;
    left: -55%;
    top: 80%;
  }
  .main_contents .project2_thum figure figcaption .sub_title p {
    font-size: 1.2em;
  }
  .main_contents .project3_thum {
    width: 100%;
    margin: 200px 0;
  }
  .main_contents .project3_thum figure {
    width: 25vw;
    padding: 40px;
  }
  .main_contents .project3_thum figure img {
    width: 100%;
  }
  .main_contents .project3_thum figure:hover {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    opacity: 0.8;
  }
  .main_contents .project3_thum figure:hover .main_title {
    -webkit-transform: translate(-45%, -50%);
            transform: translate(-45%, -50%);
  }
  .main_contents .project3_thum figure:hover .sub_title {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
  }
  .main_contents .project3_thum figure figcaption .main_title {
    position: absolute;
    left: -40%;
    top: 35%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-transition: .5s;
    transition: .5s;
  }
  .main_contents .project3_thum figure figcaption .main_title p {
    font-family: 'gotham';
    text-shadow: 2px 2px 2px black;
    line-height: 0.8;
    text-align: left;
  }
  .main_contents .project3_thum figure figcaption .main_title p:nth-child(1) {
    color: #fff;
    font-size: 6em;
    letter-spacing: -6px;
  }
  .main_contents .project3_thum figure figcaption .main_title p:nth-child(2) {
    color: #fff;
    font-size: 6em;
    letter-spacing: -5px;
    -webkit-transform: translateX(5%);
            transform: translateX(5%);
  }
  .main_contents .project3_thum figure figcaption .sub_title {
    position: absolute;
    right: -80%;
    top: 80%;
    -webkit-transition: .5s;
    transition: .5s;
  }
  .main_contents .project3_thum figure figcaption .sub_title p {
    font-size: 1.2em;
  }
  .main_contents .contact {
    width: 80%;
    margin: 200px auto;
  }
  .main_contents .contact form {
    width: 40%;
  }
  .main_contents .contact form h2 {
    font-size: 2em;
    margin-bottom: 15px;
  }
  .main_contents .contact form input {
    margin: 10px 0;
    padding: 10px 0;
  }
  .main_contents .contact form input[type=submit] {
    border-bottom: none;
    cursor: pointer;
    font-size: 1.5em;
  }
  .main_contents .contact form textarea {
    margin-top: 30px;
    padding: 0px;
  }
  .main_contents .contact .contact_text {
    margin-left: 100px;
  }
  .main_contents .contact .contact_text p {
    font-family: 'gotham';
    line-height: 0.8;
    letter-spacing: -5px;
  }
  .main_contents .contact .contact_text p:nth-child(1) {
    font-size: 9em;
  }
  .main_contents .contact .contact_text p:nth-child(2) {
    font-size: 9em;
  }
  .main_contents .contact .contact_text p:nth-child(3) {
    letter-spacing: -1px;
    line-height: 1.3;
    color: #fff;
    margin-top: 80px;
    font-size: 0.9em;
  }
}
/*# sourceMappingURL=main.css.map */