@charset "UTF-8";
@import url("common.css");
main {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}

.main_contents {
  width: 100%;
}

.main_contents .about_thum {
  width: 100%;
  margin: 100px 0;
}

.main_contents .about_thum figure {
  width: 20vw;
  position: relative;
  margin: 0 auto;
  background: #fff;
  padding: 40px;
  z-index: 99;
  -webkit-transition: .5s;
  transition: .5s;
}

.main_contents .about_thum figure a img {
  width: 100%;
  height: 65vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.main_contents .about_thum figure:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  opacity: 0.8;
}

.main_contents .about_thum figure figcaption {
  width: 50vw;
  position: absolute;
  left: 50%;
  top: 55%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.main_contents .about_thum figure figcaption p {
  font-family: 'gotham';
  text-shadow: 2px 2px 2px black;
  -webkit-transition: .5s;
  transition: .5s;
}

.main_contents .about_thum figure figcaption p:nth-child(1) {
  color: #fff;
  font-size: 5.5em;
  letter-spacing: -6px;
}

.main_contents .about_thum figure figcaption p:nth-child(2) {
  color: #d9b372;
  font-size: 4.5em;
  letter-spacing: -5px;
}

.main_contents .about_thum figure:hover figcaption p {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.main_contents .project1_thum {
  width: 100%;
  margin: 200px 0;
}

.main_contents .project1_thum figure {
  width: 20vw;
  position: relative;
  margin: 0 auto;
  background: #fff;
  padding: 40px;
  z-index: 99;
  -webkit-transition: .5s;
  transition: .5s;
}

.main_contents .project1_thum figure .num {
  color: #d9b372;
  position: absolute;
  left: -40px;
  top: -30px;
}

.main_contents .project1_thum figure img {
  width: 100%;
}

.main_contents .project1_thum figure:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  opacity: 0.8;
}

.main_contents .project1_thum figure:hover .main_title {
  -webkit-transform: translate(-45%, -50%);
          transform: translate(-45%, -50%);
}

.main_contents .project1_thum figure:hover .sub_title {
  -webkit-transform: translateX(-10%);
          transform: translateX(-10%);
}

.main_contents .project1_thum figure figcaption .main_title {
  position: absolute;
  left: -40%;
  top: 35%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: .5s;
  transition: .5s;
}

.main_contents .project1_thum figure figcaption .main_title p {
  font-family: 'gotham';
  text-shadow: 2px 2px 2px black;
  line-height: 0.8;
  text-align: left;
}

.main_contents .project1_thum figure figcaption .main_title p:nth-child(1) {
  color: #fff;
  font-size: 9em;
  letter-spacing: -6px;
}

.main_contents .project1_thum figure figcaption .main_title p:nth-child(2) {
  color: #fff;
  font-size: 9em;
  letter-spacing: -5px;
  -webkit-transform: translateX(-5%);
          transform: translateX(-5%);
}

.main_contents .project1_thum figure figcaption .sub_title {
  position: absolute;
  right: -55%;
  top: 80%;
  -webkit-transition: .5s;
  transition: .5s;
}

.main_contents .project1_thum figure figcaption .sub_title p {
  font-size: 1.5em;
  text-align: left;
  color: #fff;
  text-shadow: 1px 1px 2px black;
}

.main_contents .project2_thum {
  width: 100%;
  margin: 200px 0;
}

.main_contents .project2_thum figure {
  width: 20vw;
  position: relative;
  margin: 0 auto;
  background: #fff;
  z-index: 99;
  padding: 40px;
  -webkit-transition: .5s;
  transition: .5s;
}

.main_contents .project2_thum figure .num {
  color: #d9b372;
  position: absolute;
  left: -40px;
  top: -30px;
}

.main_contents .project2_thum figure img {
  width: 100%;
}

.main_contents .project2_thum figure:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  opacity: 0.8;
}

.main_contents .project2_thum figure:hover .main_title {
  -webkit-transform: translate(45%, -50%);
          transform: translate(45%, -50%);
}

.main_contents .project2_thum figure:hover .sub_title {
  -webkit-transform: translateX(10%);
          transform: translateX(10%);
}

.main_contents .project2_thum figure figcaption .main_title {
  position: absolute;
  right: -30%;
  top: 35%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  -webkit-transition: .5s;
  transition: .5s;
}

.main_contents .project2_thum figure figcaption .main_title p {
  font-family: 'gotham';
  text-shadow: 2px 2px 2px black;
  line-height: 0.8;
  text-align: right;
}

.main_contents .project2_thum figure figcaption .main_title p:nth-child(1) {
  color: #fff;
  font-size: 9em;
  letter-spacing: -6px;
}

.main_contents .project2_thum figure figcaption .main_title p:nth-child(2) {
  color: #fff;
  font-size: 9em;
  letter-spacing: -5px;
  -webkit-transform: translateX(5%);
          transform: translateX(5%);
}

.main_contents .project2_thum figure figcaption .sub_title {
  position: absolute;
  left: -47%;
  top: 80%;
  -webkit-transition: .5s;
  transition: .5s;
}

.main_contents .project2_thum figure figcaption .sub_title p {
  font-size: 1.5em;
  text-align: left;
  color: #fff;
  text-shadow: 1px 1px 2px black;
}

.main_contents .project3_thum {
  width: 100%;
  margin: 200px 0;
}

.main_contents .project3_thum figure {
  width: 20vw;
  position: relative;
  margin: 0 auto;
  background: #fff;
  padding: 40px;
  z-index: 99;
  -webkit-transition: .5s;
  transition: .5s;
}

.main_contents .project3_thum figure .num {
  color: #d9b372;
  position: absolute;
  left: -40px;
  top: -30px;
}

.main_contents .project3_thum figure img {
  width: 100%;
}

.main_contents .project3_thum figure:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  opacity: 0.8;
}

.main_contents .project3_thum figure:hover .main_title {
  -webkit-transform: translate(-45%, -50%);
          transform: translate(-45%, -50%);
}

.main_contents .project3_thum figure:hover .sub_title {
  -webkit-transform: translateX(-10%);
          transform: translateX(-10%);
}

.main_contents .project3_thum figure figcaption .main_title {
  position: absolute;
  left: -40%;
  top: 35%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: .5s;
  transition: .5s;
}

.main_contents .project3_thum figure figcaption .main_title p {
  font-family: 'gotham';
  text-shadow: 2px 2px 2px black;
  line-height: 0.8;
  text-align: left;
}

.main_contents .project3_thum figure figcaption .main_title p:nth-child(1) {
  color: #fff;
  font-size: 8em;
  letter-spacing: -6px;
}

.main_contents .project3_thum figure figcaption .main_title p:nth-child(2) {
  color: #fff;
  font-size: 8em;
  letter-spacing: -5px;
  -webkit-transform: translateX(5%);
          transform: translateX(5%);
}

.main_contents .project3_thum figure figcaption .sub_title {
  position: absolute;
  right: -70%;
  top: 80%;
  -webkit-transition: .5s;
  transition: .5s;
}

.main_contents .project3_thum figure figcaption .sub_title p {
  font-size: 1.5em;
  text-align: left;
  color: #fff;
  text-shadow: 2px 2px 2px black;
}

.main_contents .contact {
  width: 80%;
  margin: 200px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main_contents .contact form {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  z-index: 99;
}

.main_contents .contact form h2 {
  color: #d9b372;
  font-size: 2.5em;
  margin-bottom: 15px;
}

.main_contents .contact form input {
  margin: 10px 0;
  padding: 30px 0;
  border: none;
  border-bottom: 3px solid #9e9e9e;
  background: transparent;
  outline: none;
  color: #fff;
  opacity: 0.8;
}

.main_contents .contact form input[type=submit] {
  border-bottom: none;
  cursor: pointer;
  font-size: 1.5em;
}

.main_contents .contact form textarea {
  margin-top: 30px;
  padding: 0px;
  background: transparent;
  border: none;
  border-bottom: 3px solid #9e9e9e;
  resize: none;
  /* 크기고정 */
  outline: none;
  color: #fff;
  opacity: 0.8;
}

.main_contents .contact form button {
  height: 5vh;
  margin: 15px auto;
  color: #ececec;
  font-size: 1.5em;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  font-family: inherit;
}

.main_contents .contact .contact_text {
  margin-left: 100px;
}

.main_contents .contact .contact_text p {
  font-family: 'gotham';
  line-height: 0.8;
  letter-spacing: -5px;
}

.main_contents .contact .contact_text p:nth-child(1) {
  color: #d9b372;
  font-size: 11em;
}

.main_contents .contact .contact_text p:nth-child(2) {
  color: #fff;
  font-size: 11em;
}

.main_contents .contact .contact_text p:nth-child(3) {
  letter-spacing: -1px;
  line-height: 1.3;
  color: #fff;
  margin-top: 80px;
  font-size: 1em;
}

.main_contents .top_btn {
  width: 100%;
}

.main_contents .top_btn p {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  border: solid 2px #505050;
  border-radius: 100%;
  text-align: center;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  position: relative;
  bottom: 100px;
  z-index: 99;
  cursor: pointer;
}

.main_contents .top_btn p img {
  width: 15px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.main_contents .top_btn p:hover {
  border: 2px solid #ececec;
}
/*# sourceMappingURL=main.css.map */